
fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
psycopg[binary]
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
pydantic
pydantic-settings
python-dotenv

opencv-python
numpy
ultralytics

dlib-bin
face-recognition-models
Pillow
Click

reportlab
openpyxl
pandas
setuptools==80.9.0

